                <div class="course-area section-padding">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="section-title-wrapper">
                                  <div class="section-title">
                                      <h4>actualités</h4>
                                      <p>
                                        Les 3 dernières actualités de nos évenements
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-4 col-md-6">
                              <div class="single-item">
                                  <div class="single-item-image overlay-effect">
                                      <a href="#"><img src="./../../../assets/images/course/1.jpg" alt=""></a>
                                  </div>
                                  <div class="single-item-text">
                                      <h4><a href="#">Photoshop CC 2017</a></h4>
                                      <div class="single-item-text-info">
                                          <span>By: <span>M S Nawaz</span></span>
                                          <span>Date: <span>20.5.15</span></span>
                                      </div>
                                      <p>There are many variations of sages of Lorem Ipsum available,
                                        but the mrity have suffered alteration in some orm,
                                        by injected humo ur,There are many but the mri
                                        have suffered alteration in some
                                      </p>
                                  </div>
                                  <div class="button-bottom">
                                      <a href="#" class="button-default">Plus de détail</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="single-item">
                                  <div class="single-item-image overlay-effect">
                                      <a href="#"><img src="./../../../assets/images/course/2.jpg" alt=""></a>
                                  </div>
                                  <div class="single-item-text">
                                      <h4><a href="#">Illustrator CC 2017</a></h4>
                                      <div class="single-item-text-info">
                                          <span>By: <span>Subas Das</span></span>
                                          <span>Date: <span>20.5.15</span></span>
                                      </div>
                                      <p>There are many variations of sages of Lorem Ipsum available,
                                        but the mrity have suffered alteration in some orm,
                                        by injected humo ur,There are many but the mri
                                        have suffered alteration in some
                                      </p>
                                  </div>
                                  <div class="button-bottom">
                                      <a href="#" class="button-default">Plus de détail</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="single-item">
                                  <div class="single-item-image overlay-effect">
                                      <a href="#"><img src="./../../../assets/images/course/3.jpg" alt=""></a>
                                  </div>
                                  <div class="single-item-text">
                                      <h4><a href="#">Indesign CC 2017</a></h4>
                                      <div class="single-item-text-info">
                                          <span>By: <span>Momin Boss</span></span>
                                          <span>Date: <span>20.5.15</span></span>
                                      </div>
                                      <p>There are many variations of sages of Lorem Ipsum available,
                                        but the mrity have suffered alteration in some orm,
                                        by injected humo ur,There are many but the mri have
                                        suffered alteration in some
                                      </p>
                                  </div>
                                  <div class="button-bottom">
                                      <a href="#" class="button-default">Plus de détail</a>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="col-md-12 col-sm-12 text-center" id="content-button-large">
                              <a href="#" class="button-default button-large">
                                Les actualités
                                <i class="fas fa-chevron-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>

