                <div class="container-fluid">
                <div class="course-area section-padding">
                  <div class="container-fluid contain-actu">
                      <div class="row row-title-actu">
                          <div class="col-md-12">
                              <div class="section-title-wrapper">
                                  <div class="section-title">
                                      <h4>actualités</h4>
                                      <p>
                                        Les 3 dernières actualités à la une
                                      </p>
                                      <div class="bottomy">
                                        <p class="bottomy-one"></p>
                                        <div class="bottomy-center">
                                          <fa name="globe"></fa>
                                        </div>
                                        <p class="bottomy-two"></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row row-actu">
                          <div class="col-lg-4" *ngFor="let item of actuality">
                              <div class="single-item">
                                  <div class="single-item-image overlay-effect">
                                      <img [src]="item.image" alt="" id="imgActu">
                                  </div>
                                  <div class="single-item-text">
                                      <h4><a>{{item.titre}}</a></h4>
                                      <div class="single-item-text-info">
                                          <span> <fa name="pen"></fa> <span>{{item.posteur}}</span></span> <br>
                                          <span><fa name="calendar"></fa> <span>{{item.date_mise_jour}}</span></span>
                                      </div>
                                      <!-- <p>
                                        {{item.description.substring(0, 150)}}...
                                      </p> -->
                                      <div class="p" [innerHTML]="item.description.substring(0, 140)+'...' | sanitizeHtml">
                                      </div>
                                  </div>
                                  <div class="button-bottom" (click)="seeActu(item.titre, item.date_mise_jour, item.posteur)">
                                      <a class="button-default">Voir l'actualité</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-12" *ngIf="noActu">
                            <div class="no-actu">
                              Aucune actualité disponible
                            </div>
                          </div>
                          <br>
                          <!-- <div class="col-md-12 col-sm-12 text-center" id="content-button-large" *ngIf="!noActu">
                              <a class="button-default button-large" (click)="allNews()">
                                Les actualités
                                <i class="fas fa-chevron-right"></i>
                              </a>
                          </div> -->
                      </div>
                  </div>
              </div>
            </div>
