<div class="content container-fluid">
  <div class="row row-title-actu">
    <div class="col-md-12">
        <div class="section-title-wrapper">
            <div class="section-title">
                <h4>formations</h4>
                <p>
                  Les formations offertes par l'Ecole
                </p>
                <div class="bottomy">
                  <p class="bottomy-one"></p>
                  <div class="bottomy-center">
                    <fa name="globe"></fa>
                  </div>
                  <p class="bottomy-two"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

                  <!--Teachers Area Start-->
                  <div class="teachers-area padding-top">
                    <div class="container-fluid contain-area">
                        <div class="row">
                              <div class="col-lg-4" *ngFor="let item of formations; let i = index" [ngClass]="{'col-lg-12': formations.length == 1,'col-lg-6': formations.length == 2, 'col-lg-4' : formations.length > 2}">
                                <div class="single-teacher-item">
                                    <div class="single-teacher-image">
                                    </div>
                                    <!-- [ngClass]="{'one': i == 0, 'two': i == 1, 'three': i == 2}" -->
                                    <div class="single-teacher-text"
                                    [ngStyle]="{background: 'url('+ item.photo +')', 'background-size': 'cover',
                                    'background-position': 'center'}">
                                      <h3><a>{{item.libelle}}</a></h3>
                                        <h4 *ngIf="item.libelle == txt1">Bac + 3</h4>
                                        <h4 *ngIf="item.libelle == txt2">Bac + 4</h4>
                                        <h4 *ngIf="item.libelle == txt3">Bac + 5</h4>
                                      <p class="descr-formation" [innerHTML]="item.description | sanitizeHtml">
                                      </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" *ngIf="noNews">
                              <div class="no-news">
                                Aucune donnée disponible
                              </div>
                            </div>

                            <!-- <div class="col-lg-4 col-12">
                                <div class="single-teacher-item">
                                    <div class="single-teacher-image">
                                    </div>
                                    <div class="single-teacher-text one">
                                        <h3><a>LICENCE</a></h3>
                                        <h4>Bac + 3</h4>
                                        <p>
                                          Obtention d'un diplôme de Licence Professionnelle,
                                          validé par l'Université de Fianarantsoa et par l'Etat.
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-4 col-12">
                                <div class="single-teacher-item">
                                    <div class="single-teacher-image">
                                    </div>
                                    <div class="single-teacher-text two">
                                        <h3><a>MASTER</a></h3>
                                        <h4>Bac + 5</h4>
                                        <p>
                                          Obtention d'un diplôme de Master Professionnel,
                                          validé par l'Université de Fianarantsoa et par l'Etat.
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-4 col-12">
                                <div class="single-teacher-item ">
                                    <div class="single-teacher-image">
                                    </div>
                                    <div class="single-teacher-text three">
                                        <h3><a>DOCTORAT</a></h3>
                                        <h4>Bac + 8</h4>
                                        <p>
                                          Obtention du doctorat, validé par l'Université de Fianarantsoa et par l'Etat.
                                          Dans le but de continuer l'epanouissement
                                          des connaissances en informatique.
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!--End of Teachers Area-->
