<div class="content container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="left-content">
        <img [src]="student" alt="" id="left-img">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="right-content">
        <div class="right-child right-one">
          <div class="right-img">
            <img [src]="master" alt="">
          </div>
          <div class="right-descr">
            <h4>LICENCE</h4>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
        <div class="right-child right-two">
          <div class="right-img">
            <img [src]="master" alt="">
          </div>
          <div class="right-descr">
            <h4>MASTER</h4>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
        <div class="right-child right-three">
          <div class="right-img">
            <img [src]="master" alt="">
          </div>
          <div class="right-descr">
            <h4>DOCTORAT</h4>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
