# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# No sense file
JSONStream
JSONStream.cmd
JSONStream.ps1
acorn
acorn.cmd
acorn.ps1
ansi-html.ps1
atob
atob.cmd
atob.ps1
autoprefixer
autoprefixer.cmd
autoprefixer.ps1
blocking-proxy
blocking-proxy.cmd
blocking-proxy.ps1
browserslist.ps1
build-optimizer
build-optimizer.cmd
build-optimizer.ps1
cssesc
cssesc.cmd
cssesc.ps1
errno
errno.cmd
errno.ps1
eslint
eslint.cmd
eslint.ps1
esparse
esparse.cmd
esparse.ps1
esvalidate
esvalidate.cmd
esvalidate.ps1
image-size
image-size.cmd
image-size.ps1
import-local-fixture
import-local-fixture.cmd
import-local-fixture.ps1
ivy-ngcc
ivy-ngcc.cmd
ivy-ngcc.ps1
jasmine
jasmine.cmd
jasmine.ps1
js-yaml
js-yaml.cmd
js-yaml.ps1
jsesc
jsesc.cmd
jsesc.ps1
json5
json5.cmd
json5.ps1
karma
karma.cmd
karma.ps1
lessc
lessc.cmd
lessc.ps1
loose-envify
loose-envify.cmd
loose-envify.ps1
miller-rabin
miller-rabin.cmd
miller-rabin.ps1
mime
mime.cmd
mime.ps1
mkdirp
mkdirp.cmd
mkdirp.ps1
multicast-dns
multicast-dns.cmd
multicast-dns.ps1
ng
ng-xi18n
ng-xi18n.cmd
ng-xi18n.ps1
ng.cmd
ng.ps1
ngc
ngc.cmd
ngc.ps1
parser
parser.cmd
parser.ps1
protractor
protractor.cmd
protractor.ps1
regjsparser
regjsparser.cmd
regjsparser.ps1
rimraf
rimraf.cmd
rimraf.ps1
sass
sass.cmd
sass.ps1
semver
semver.cmd
semver.ps1
sha.js
sha.js.cmd
sha.js.ps1
sshpk-conv
sshpk-conv.cmd
sshpk-conv.ps1
sshpk-sign
sshpk-sign.cmd
sshpk-sign.ps1
sshpk-verify
sshpk-verify.cmd
sshpk-verify.ps1
standard
standard.cmd
standard.ps1
stylus
stylus.cmd
stylus.ps1
terser
terser.cmd
terser.ps1
tree-kill
tree-kill.cmd
tree-kill.ps1
ts-node
ts-node.cmd
ts-node.ps1
tsc
tsc.cmd
tsc.ps1
tslint
tslint.cmd
tslint.ps1
tsserver
tsserver.cmd
tsserver.ps1
uuid
uuid.cmd
uuid.ps1
webdriver-manager
webdriver-manager.cmd
webdriver-manager.ps1
webpack
webpack-dev-server
webpack-dev-server.cmd
webpack-dev-server.ps1
webpack.cmd
webpack.ps1
which
which.cmd
which.ps1
