$first-color: #0c2d504d;
$second-color: #0c2d50a6;
.slider .carousel-inner .carousel-item {
  background-color: $first-color;
}

#carouselExampleFade {
  height: 650px;
}

.button-01 {
  cursor: pointer;
}

.btn_continue {
  background: $first-color !important;
}
.btn_continue:hover {
  background: $second-color !important;
}

img.d-block {
  width: 100% !important;
}

@media screen and (max-width: 991.98px) {
  #carouselExampleFade {
    height: 440px;
  }
}

.carousel-caption {
  margin-top: -70px;
}

@media screen and (max-width: 700px) {
  .slider .carousel-inner .carousel-item .carousel-caption p {
    display: none !important;
  }

  #carouselExampleFade {
    height: 350px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: -60px;
  }
}

@media screen and (max-width: 460px) {
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: -45px;
  }

  .slider
    .carousel-inner
    .carousel-item
    .carousel-caption
    .button-01
    ul
    li:nth-child(1) {
    width: 150px;
    padding: 5px;
  }

  #carouselExampleFade {
    height: 300px;
  }
}

img.d-blog {
  width: 100% !important;
}

.noData {
  background-color: $second-color;
}
