<app-main-header></app-main-header>

  <section id="carouselExampleFade" class="carousel slide carousel-fade slider" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let item of news; let i = index" [ngClass]="{active: i==0}">
        <img [src]="item.image" class="d-block" alt="...">
        <div class="carousel-caption">
            <h2>{{item.titre}}</h2>
            <p [innerHTML]="item.description.substring(0, 100) | sanitizeHtml">
            </p>
            <!-- <p>{{item.description}}</p> -->
            <div class="button-01" (click)="seeNews(item.titre, item.date_mise_jour, item.posteur)">
                <ul>
                    <li class="btn_continue"><a>Continuer</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>

        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</section>

