  <!--About Area Start-->
    <div class="about-area">
        <div class="container">
            <div class="row">
              <div class="contain-director">
                <img [src]="imgDirector" alt="" id="imgDirector">
                <p class="name-director">
                  {{nameDirector}}
                </p>
              </div>
                <div class="col-lg-8 col-md-12">
                    <div class="about-container">
                      <h3 id="head-director-words">Mot du Directeur</h3>
                        <div id="director-words">
                          
                          <div [innerHTML]="wordDirector | sanitizeHtml">
                          </div>
                          <br>
                        </div>
                        <div class="timber">
                          - Ecole Nationale Informatique -
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!--End of About Area-->
