<div class="main-popup">
  <div class="outside-popup">
    <img [src]="image" alt="" class="img-popup">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="leftSide">
          <h4 class="main-title">
            {{titre}}
          </h4>
          <div class="detail">
            <p>
              <span class="date">
                Du {{date}}
              </span> <br>
              <span class="posteur">
                Par {{posteur}}
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="rightSide">
          <p class="desc">
            {{description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
