<div class="main-popup">
  <div class="outside-popup">
    <img [src]="image" alt="" class="img-popup">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="contain-title">
          <h2 class="main-title">
            {{titre}}
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contain-date" *ngIf="date">
          Du : {{date}}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contain-posteur" *ngIf="posteur">
          Posté par : {{posteur}}
        </div>
      </div>
      <div class="col-lg-12">
        <div class="rightSide">
          <p class="desc">
            {{description}}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" *ngFor="let item of galerie">
        <img [src]="item" alt="" class="image">
      </div>
    </div>
  </div>
</div>
