<div id="mimi-main">

<div class="top-content" id="top-content">
  <div class="first-content">
    <div class="content-logo">
      <div class="univ-eni">
        Ecole Nationale Informatique
      </div>
      <div class="mobile-univ-eni">
        <p class="firstly">
          Ecole
        </p>
        <p class="secondly">
          Nationale Informatique
        </p>
      </div>
    </div>

    <div class="content-action-header">
      <div class="menu-action">
        <div class="p" (click)="login()">
          <img [src]="profile" alt="" id="img-profile">
          <span>
            Se Connecter
          </span>
        </div>
      </div>
      <div class="menu-action">
        <img [src]="langues[0].flag" alt="" id="flags">
      </div>
    </div>

    <div class="content-logo-uf"  (click)="home()">
      <img [src]="logoUf" alt="" id="logo-uf">
      <img [src]="logo" alt="logo-UF" id="logo-eni">
    </div>
  </div>

  <div class="second-content">
    <div class="my-menu" *ngFor="let item of menu">
      <a [href]="item.slug">
        {{item.titre}}
      </a>
    </div>
    <div class="my-menu-2" id="best-menu-mobile">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="flag-mobile">
      <img [src]="langues[0].flag" alt="" id="flags">
    </div>
  </div>
  <div id="progress-man" *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<div class="external-content" id="external-content">
  <div id="mobile" class="demo1">
    <ul id="nav">
      <li *ngFor="let item of menu" id="menu-colapse">
        <a [href]="item.slug" style="color: inherit;">
          {{item.titre}}
        </a>
      </li>
      <li id="login-mobile" (click)="login()">
        <img [src]="profile" alt="" id="img-profile-mobile">
        <span>
          Se Connecter
        </span>
      </li>
    </ul>
  </div>
</div>

</div>






