<div class="top-content" id="top-content">
  <div class="first-content">
    <div class="content-logo">
      <div class="univ-fianar">
        <img [src]="logoUf" alt="" id="uf">
        <p>
          Université de Fianarantsoa
        </p>
        <img [src]="logoUf" alt="" id="uf">
      </div>
      <div class="univ-eni">
        ECOLE NATIONAL INFORMATIQUE
      </div>
    </div>

    <div class="content-action-header">
      <div class="menu-action">
        <div class="p" (click)="login()">
          <img [src]="profile" alt="" id="img-profile">
          <span>
           <br>Se Connecter
          </span>
        </div>
      </div>
      <div class="menu-action">
        <img [src]="langues[0].flag" alt="" id="flags">
      </div>
    </div>

    <div class="content-logo-uf"  (click)="home()">
      <!--<div id='warped1'>
        <span class='w0'>E</span><span class='w1'>n</span><span class='w2'>s</span><span class='w3'>e</span><span class='w4'>m</span><span class='w5'>b</span><span class='w6'>l</span><span class='w7'>e</span>
      </div>-->
      <img [src]="logo" alt="logo-UF" id="logo-eni">
      <!--<div id='warped1'>
      <div id='warped'>
        <span class='w0'>E</span><span class='w1'>x</span><span class='w2'>c</span><span class='w3'>e</span><span class='w4'>l</span><span class='w5'>l</span><span class='w6'>e</span><span class='w7'>n</span><span class='w8'>c</span><span class='w9'>e</span>
    </div>
    </div>-->
    </div>
  </div>

  <div class="second-content">
    <div class="my-menu" *ngFor="let item of menu">
      <a [href]="item.slug">
        {{item.titre}}
      </a>
    </div>
    <div class="my-menu-2" id="best-menu-mobile-main">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="flag-mobile">
      <img [src]="langues[0].flag" alt="" id="flags">
    </div>
  </div>
</div>

<div class="external-content" id="external-content-main">
  <div id="mobile-main" class="demo2">
    <ul id="nav">
      <li *ngFor="let item of menu">
        {{item.titre}}
      </li>
      <li id="login-mobile" (click)="login()">
        <img [src]="profile" alt="" id="img-profile-mobile">
        <span style="font-family: raleway;">
          Login
        </span>
      </li>
    </ul>
  </div>
</div>
<div id="progress-man" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>



