$first-color: #0c2d50;
$second-color: #002247;
$color-white: white;

.top-content {
  display: flex;
  flex-direction: column;
  height: 220px;
  background: transparent;
}

.flag-mobile {
  display: none;
}

.first-content {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  height: 170px;
  background-color: $first-color;
  justify-content: space-between;
  text-align: center;
}

.second-content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: $second-color;
  justify-content: space-between;
  align-items: center;
}

.second-content .my-menu:last-child {
  border-right: none !important;
}

.second-content .my-menu {
  border-right: 3px solid $first-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  white-space: nowrap;
}

.second-content .my-menu:hover {
  background-color: #117abe;
}

.second-content .my-menu a {
  color: $color-white;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 14px;
}

.second-content .my-menu a:hover {
  text-decoration: none;
}

.content-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $color-white;
}

#logo-eni {
  // max-width: 100%;
  width: 150px;
}
@media screen and (max-width: 920px) {
  .content-logo-uf {
    top: 5px;
    left: 5px;
  }

  #logo-eni {
    width: 70px;
  }

  #warped,
  #warped1 {
    display: none !important;
  }

  #flags {
    margin-right: 10px;
  }
}

.content-action-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: fit-content;
  padding-top: 3%;
  padding-right: 0px;
  width: fit-content;
  position: absolute;
  right: 20px;
  align-items: center;
}

.content-action-header .menu-action .p {
  color: $color-white;
  margin-right: 30px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px;
  font-weight: normal;
  letter-spacing: 1px;
  width: 160px;
  border-radius: 10px;
}

#flags {
  width: 30px;
  height: 30px;
}

.content-action-header .menu-action .p #img-profile {
  height: 22px;
  width: 22px;
  margin-right: 0px;
}

.content-action-header .menu-action .p span {
  position: relative;
  top: 3px;
  left: 5px;
}

.content-logo-uf {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
}

.my-menu-2 {
  display: none;
  padding: 7px;
  margin: 0px;
  height: 50px;
  margin-right: 5px;
  cursor: pointer;
}

.my-menu-2 .bar {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 30px;
  height: 3px;
  background-color: $color-white;
}

.univ-fianar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.univ-fianar #uf {
  height: 30px;
}

.univ-fianar p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  font-variant: petite-caps;
}

.univ-eni {
  // font-size: 30px;
  // letter-spacing: 3px;
  // word-spacing: 10px;
  // font-variant: petite-caps;
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .content-action-header .menu-action .p span {
    display: none;
  }

  .content-action-header .menu-action .p {
    margin-right: 30px;
    padding: 8px;
    font-weight: normal;
    letter-spacing: 1px;
    width: 70px;
  }
}

@media screen and (max-width: 650px) {
  .univ-eni {
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 5px;
    font-variant: petite-caps;
  }
}

@media screen and (max-width: 540px) {
  .univ-fianar p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-variant: petite-caps;
  }

  .univ-fianar #uf {
    height: 25px;
  }
}

@media (max-width: 950px) and (min-width: 800px) {
  .content-action-header {
    right: 0px;
  }

  .menu-action:first-child {
    margin-right: -15px;
  }
}

@media screen and (max-width: 800px) {
  .content-action-header {
    //right: 0px;
  }

  .content-action-header .menu-action .p {
    display: none;
  }

  #flags {
    margin-top: 0%;
    width: 50px;
    height: 50px;
    padding: 6px;
    cursor: pointer;
  }

  .second-content {
    justify-content: flex-end;
  }

  .my-menu-2 {
    display: block;
  }

  .flag-mobile {
    display: block;
  }

  .menu-action {
    display: none;
  }

  .my-menu {
    display: none !important;
  }
}

@media screen and (max-width: 380px) {
  img#logo-uf {
    left: 5px !important;
    height: 55px !important;
    position: absolute;
    width: 50px;
  }
  // img#logo-eni {
  //   position: absolute;
  //   width: 60px;
  //   left: 10px;
  //   top: -27px;
  // }
  // #flags {
  //   margin-top: 85%;
  // }

  #warped1,
  #warped2 {
    display: none !important;
  }

  .content-logo-uf {
    position: absolute;
    top: 25px;
    left: -10px;
  }
}

@media screen and (max-width: 310px) {
  img#logo-eni {
    position: absolute;
    width: 60px;
    left: 10px;
    top: 85px;
  }
}

#external-content-main {
  display: none;
  transition: all 0.3s;
}

li#login-mobile {
  background: $second-color !important;
  height: 60px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

#menu-colapse {
  border-radius: 8px;
  padding: 10px;
}

li#login-mobile span {
  font-weight: normal;
  position: relative;
  top: 3px;
  font-size: 20px;
  color: $color-white;
}

img#img-profile-mobile {
  height: 25px;
  margin-right: 10px;
}

#warped1 {
  position: absolute;
  display: block;
  width: 184px;
  height: 167px;
  color: white;
  user-select: none;
  -moz-user-select: none;
}

#warped1 > span[class^="w"]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#warped1 span {
  font-family: "ABeeZee";
  font-size: 12px;
  font-weight: regular;
  font-style: normal;
  line-height: 3.3;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}

#warped1 .w0 {
  -moz-transform: rotate(4.11rad);
  -webkit-transform: rotate(4.11rad);
  -o-transform: rotate(4.11rad);
  -ms-transform: rotate(4.11rad);
  transform: rotate(4.11rad);
  width: 7px;
  height: 39px;
  left: 26.37px;
  top: 91.02px;
}

#warped1 .w1 {
  -moz-transform: rotate(4.34rad);
  -webkit-transform: rotate(4.34rad);
  -o-transform: rotate(4.34rad);
  -ms-transform: rotate(4.34rad);
  transform: rotate(4.34rad);
  width: 6px;
  height: 39px;
  left: 18.31px;
  top: 74.67px;
}

#warped1 .w2 {
  -moz-transform: rotate(4.56rad);
  -webkit-transform: rotate(4.56rad);
  -o-transform: rotate(4.56rad);
  -ms-transform: rotate(4.56rad);
  transform: rotate(4.56rad);
  width: 5px;
  height: 39px;
  left: 14.37px;
  top: 57.78px;
}

#warped1 .w3 {
  -moz-transform: rotate(4.77rad);
  -webkit-transform: rotate(4.77rad);
  -o-transform: rotate(4.77rad);
  -ms-transform: rotate(4.77rad);
  transform: rotate(4.77rad);
  width: 5px;
  height: 39px;
  left: 13.66px;
  top: 40.83px;
}

#warped1 .w4 {
  -moz-transform: rotate(5.01rad);
  -webkit-transform: rotate(5.01rad);
  -o-transform: rotate(5.01rad);
  -ms-transform: rotate(5.01rad);
  transform: rotate(5.01rad);
  width: 9px;
  height: 39px;
  left: 15.12px;
  top: 22.19px;
}

#warped1 .w5 {
  -moz-transform: rotate(5.25rad);
  -webkit-transform: rotate(5.25rad);
  -o-transform: rotate(5.25rad);
  -ms-transform: rotate(5.25rad);
  transform: rotate(5.25rad);
  width: 6px;
  height: 39px;
  left: 24.62px;
  top: 4.46px;
}

#warped1 .w6 {
  -moz-transform: rotate(5.46rad);
  -webkit-transform: rotate(5.46rad);
  -o-transform: rotate(5.46rad);
  -ms-transform: rotate(5.46rad);
  transform: rotate(5.46rad);
  width: 3px;
  height: 39px;
  left: 36.08px;
  top: -8.66px;
}

#warped1 .w7 {
  -moz-transform: rotate(5.66rad);
  -webkit-transform: rotate(5.66rad);
  -o-transform: rotate(5.66rad);
  -ms-transform: rotate(5.66rad);
  transform: rotate(5.66rad);
  width: 5px;
  height: 39px;
  left: 47.1px;
  top: -19.18px;
}

#warped {
  position: absolute;
  top: 0px;
  margin-left: -22px;
  display: block;
  width: 184px;
  height: 167px;
  color: white;
  user-select: none;
  -moz-user-select: none;
}

#warped > span[class^="w"]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#warped span {
  font-family: "ABeeZee";
  font-size: 12px;
  font-weight: regular;
  font-style: normal;
  line-height: 2.45;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}

#warped .w0 {
  -moz-transform: rotate(6.86rad);
  -webkit-transform: rotate(6.86rad);
  -o-transform: rotate(6.86rad);
  -ms-transform: rotate(6.86rad);
  transform: rotate(6.86rad);
  width: 7px;
  height: 29px;
  left: 122.43px;
  top: -12.86px;
}

#warped .w1 {
  -moz-transform: rotate(7.07rad);
  -webkit-transform: rotate(7.07rad);
  -o-transform: rotate(7.07rad);
  -ms-transform: rotate(7.07rad);
  transform: rotate(7.07rad);
  width: 6px;
  height: 29px;
  left: 135.69px;
  top: -2.45px;
}

#warped .w2 {
  -moz-transform: rotate(7.26rad);
  -webkit-transform: rotate(7.26rad);
  -o-transform: rotate(7.26rad);
  -ms-transform: rotate(7.26rad);
  transform: rotate(7.26rad);
  width: 5px;
  height: 29px;
  left: 146px;
  top: 9.52px;
}

#warped .w3 {
  -moz-transform: rotate(7.45rad);
  -webkit-transform: rotate(7.45rad);
  -o-transform: rotate(7.45rad);
  -ms-transform: rotate(7.45rad);
  transform: rotate(7.45rad);
  width: 5px;
  height: 29px;
  left: 153.12px;
  top: 22.7px;
}

#warped .w4 {
  -moz-transform: rotate(7.62rad);
  -webkit-transform: rotate(7.62rad);
  -o-transform: rotate(7.62rad);
  -ms-transform: rotate(7.62rad);
  transform: rotate(7.62rad);
  width: 3px;
  height: 29px;
  left: 158.44px;
  top: 36px;
}

#warped .w5 {
  -moz-transform: rotate(7.78rad);
  -webkit-transform: rotate(7.78rad);
  -o-transform: rotate(7.78rad);
  -ms-transform: rotate(7.78rad);
  transform: rotate(7.78rad);
  width: 3px;
  height: 29px;
  left: 160.33px;
  top: 48.84px;
}

#warped .w6 {
  -moz-transform: rotate(7.96rad);
  -webkit-transform: rotate(7.96rad);
  -o-transform: rotate(7.96rad);
  -ms-transform: rotate(7.96rad);
  transform: rotate(7.96rad);
  width: 5px;
  height: 29px;
  left: 159.01px;
  top: 62.82px;
}

#warped .w7 {
  -moz-transform: rotate(8.15rad);
  -webkit-transform: rotate(8.15rad);
  -o-transform: rotate(8.15rad);
  -ms-transform: rotate(8.15rad);
  transform: rotate(8.15rad);
  width: 6px;
  height: 29px;
  left: 155.32px;
  top: 77.97px;
}

#warped .w8 {
  -moz-transform: rotate(8.35rad);
  -webkit-transform: rotate(8.35rad);
  -o-transform: rotate(8.35rad);
  -ms-transform: rotate(8.35rad);
  transform: rotate(8.35rad);
  width: 5px;
  height: 29px;
  left: 149.78px;
  top: 92.21px;
}

#warped .w9 {
  -moz-transform: rotate(8.53rad);
  -webkit-transform: rotate(8.53rad);
  -o-transform: rotate(8.53rad);
  -ms-transform: rotate(8.53rad);
  transform: rotate(8.53rad);
  width: 5px;
  height: 29px;
  left: 141.42px;
  top: 104.64px;
}

#warped .w10 {
  -moz-transform: rotate(7.93rad);
  -webkit-transform: rotate(7.93rad);
  -o-transform: rotate(7.93rad);
  -ms-transform: rotate(7.93rad);
  transform: rotate(7.93rad);
  width: 5px;
  height: 25px;
  left: 159.2px;
  top: 64.83px;
}

#warped .w11 {
  -moz-transform: rotate(8.05rad);
  -webkit-transform: rotate(8.05rad);
  -o-transform: rotate(8.05rad);
  -ms-transform: rotate(8.05rad);
  transform: rotate(8.05rad);
  width: 3px;
  height: 25px;
  left: 158.93px;
  top: 73.74px;
}

#warped .w12 {
  -moz-transform: rotate(8.15rad);
  -webkit-transform: rotate(8.15rad);
  -o-transform: rotate(8.15rad);
  -ms-transform: rotate(8.15rad);
  transform: rotate(8.15rad);
  width: 3px;
  height: 25px;
  left: 156.97px;
  top: 81.49px;
}

#warped .w13 {
  -moz-transform: rotate(8.26rad);
  -webkit-transform: rotate(8.26rad);
  -o-transform: rotate(8.26rad);
  -ms-transform: rotate(8.26rad);
  transform: rotate(8.26rad);
  width: 5px;
  height: 25px;
  left: 152.85px;
  top: 89.93px;
}

#warped .w14 {
  -moz-transform: rotate(8.39rad);
  -webkit-transform: rotate(8.39rad);
  -o-transform: rotate(8.39rad);
  -ms-transform: rotate(8.39rad);
  transform: rotate(8.39rad);
  width: 6px;
  height: 25px;
  left: 147.54px;
  top: 99.25px;
}

#warped .w15 {
  -moz-transform: rotate(8.52rad);
  -webkit-transform: rotate(8.52rad);
  -o-transform: rotate(8.52rad);
  -ms-transform: rotate(8.52rad);
  transform: rotate(8.52rad);
  width: 5px;
  height: 25px;
  left: 142.05px;
  top: 107.87px;
}

#warped .w16 {
  -moz-transform: rotate(8.65rad);
  -webkit-transform: rotate(8.65rad);
  -o-transform: rotate(8.65rad);
  -ms-transform: rotate(8.65rad);
  transform: rotate(8.65rad);
  width: 5px;
  height: 25px;
  left: 135.34px;
  top: 115.28px;
}


@media screen and (max-width: 670px) {
  .univ-fianar p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-variant: petite-caps;
  }

  .univ-eni {
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
  }

}

@media screen and (max-width: 560px) {
  #logo-eni {
    position: absolute;
    width: 60px;
    top: -9px;
    left: -15px;
}
}

@media screen and (max-width: 450px) {
  #logo-eni {
      position: absolute;
      width: 60px;
      top: 100px;
      left: -15px;
  }
}

@media screen and (max-width: 380px) {
  .univ-fianar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: -10px;
}

img#logo-eni {
  position: absolute;
  width: 46px;
  left: 12px;
  top: 97px;
}
}
