<div class="top-content" id="top-content">
  <div class="first-content">
    <div class="content-logo">
      <div id='warped1'>
        <span class='w0'>E</span><span class='w1'>c</span><span class='w2'>o</span><span class='w3'>l</span><span class='w4'>e</span><span class='w5'> </span><span class='w6'>N</span><span class='w7'>a</span><span class='w8'>t</span><span class='w9'>i</span><span class='w10'>o</span><span class='w11'>n</span><span class='w12'>a</span><span class='w13'>l</span><span class='w14'>e</span>
      </div>
      <img [src]="logo" alt="logo-ENI" id="logo-eni">
      <div id='warped2'>
        <span class='w0'>I</span><span class='w1'>n</span><span class='w2'>f</span><span class='w3'>o</span><span class='w4'>r</span><span class='w5'>m</span><span class='w6'>a</span><span class='w7'>t</span><span class='w8'>i</span><span class='w9'>q</span><span class='w10'>u</span><span class='w11'>e</span>
      </div>
    </div>

    <div class="content-action-header">
      <div class="menu-action">
        <div class="p" (click)="login()">
          <img [src]="profile" alt="" id="img-profile">
          <span>
            Login
          </span>
        </div>
      </div>
      <div class="menu-action">
        <img [src]="langues[0].flag" alt="" id="flags">
      </div>
    </div>

    <div class="content-logo-uf">
      <img [src]="logoUf" alt="logo-UF" id="logo-uf">
    </div>
  </div>

  <div class="second-content">
    <div class="my-menu" *ngFor="let item of menu">
      <a [href]="item.slug">
        {{item.titre}}
      </a>
    </div>
    <div class="my-menu-2" id="best-menu-mobile">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>

<div class="external-content" id="external-content">
  <div id="mobile" class="demo1">
    <ul id="nav">
      <li>Formations</li>
      <li>Nouvelles</li>
      <li>Contacts</li>
      <li>Blog</li>
      <li id="login-mobile" (click)="login()">
        <img [src]="profile" alt="" id="img-profile-mobile">
        <span>
          Login
        </span>
      </li>
    </ul>
  </div>
</div>



