$first-color : #0c2d50;
$second-color : #002247;
$color-white: white;

.header-news {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  text-align: center;
  // background-image: url("./../../../../assets/images/background/Anon151-Boundless-Banner-hd.jpg");
  background-image: linear-gradient(to bottom, #ffffff, #ffffffea, #ffffffde, #ffffff09, #ffffff00),url("./../../../../assets/images/background/Vue-aérienne-1024x414.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 80px;
}

.title-header-news {
  font-size: 50px;
  font-variant: petite-caps;
  font-weight: 500;
  color: $first-color;
}

.descr-header-news {
  color: $second-color;
  width: 70%;
  margin-left: 15%;
  font-size: 18px;
}


