<div class="container-fluid main">
  <div class="title">
    Les Nouvelles
  </div>

  <div class="card-one">
    <div class="container-fluid">
      <div class="contain-two">
          <h2 class="title-card-one">
            communiqués à la une
          </h2>

          <div class="line"></div>
      </div>

      <div class="row contain-com">
        <div class="col-lg-4" *ngFor="let item of three_news">
            <div class="contain">
              <img [src]="item.image" alt="" class="contain-img">
              <h4 class="contain-title">{{item.titre}}</h4>
              <p class="contain-date">{{item.date}}</p>
              <p class="contain-description">{{item.description}}</p>

              <div class="lire-plus">
                Lire le communiqué
                <span>
                  <i class="fas fa-arrow-right"></i>
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contain-other-com">
    <div class="row list-com" *ngFor="let item of last_news">
      <div class="content-src-img col-lg-4">
          <img [src]="item.image" alt="">
      </div>
      <div class="col-lg-7">
        <div class="description-other">
          <p class="date-other">
            {{item.date}}
          </p>
          <p class="title-other">
            {{item.titre}}
          </p>
          <p class="detail-other">
            {{item.description.substring(0, 100)}}...
          </p>

          <div class="lire-plus">
            Lire le communiqué
            <span>
              <i class="fas fa-arrow-right"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="content-pagination">
      <span *ngFor="let item of nbPagination" (click)="page(item)">
        {{item}}
      </span>
      <span (click)="page(currentPagination+1)">
        <i class="fas fa-arrow-right"></i>
      </span>
    </div>
  </div>

</div>
