$first-color : #0c2d50;
$second-color : #002247;

.mainy {
  width: 100%;
  background-color: $first-color;
}

.d-block {
  width: 100%;
  height: 500px;
}

div#myCarousel {
  width: 100% !important;
  margin-left: -15px !important;
  /* margin-right: 27px !important; */
}
