<span id="the-toppyy"></span>
<app-main-header></app-main-header>


<div class="contain-section container" id="the-toppy">
  <div class="top-tite" (click)="slideToActu()">
    <span *ngIf="!isNews">Les actualités</span>
    <span *ngIf="isNews">Les nouvelles</span>

    <fa name="globe" animation="spin"></fa>
  </div>
  <div class="row">
    <div class="col-lg-5" *ngIf="!noNews">
      <div class="section-left">
        <div class="section-left-date">
          <p class="p1">
            du <span class="date" *ngIf="currentActu">
              {{currentActu.date_creation}}
            </span>
          </p>
          <p class="p2" *ngIf="currentActu">
            by <span>{{currentActu.posteur}}</span>
          </p>
        </div>
        <!-- <img src="./../../../../../assets/images/latest/4.jpg" alt="" id="poster"> -->
        <img [src]="currentActu.image" alt="" id="poster" *ngIf="currentActu">
      </div>
    </div>

    <div class="col-lg-6 offset-lg-1">
      <div class="section-right">
        <h3 class="section-right-h3" *ngIf="currentActu">
          {{currentActu.titre}}
        </h3>
        <!-- <div class="section-right-description" *ngIf="currentActu">
          {{currentActu.description}}
        </div> -->
        <div class="section-right-description" *ngIf="currentActu"
        [innerHTML]="currentActu.description | sanitizeHtml"></div>
        <br><br>
        <!-- <div class="section-right-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Quidem commodi alias quam ratione deleniti, ea eligendi dolor labore nobis
          ad consequuntur necessitatibus hic
          maiores consequatur beatae, doloremque tempore magnam ullam!
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" *ngIf="galleryOne">
      <div class="contain-gallerie" *ngIf="galleryOne.length > 0">

        <div class="contain-gallerie-one" *ngIf="currentActu">
          <div class="img" *ngFor="let item of galleryOne">
            <img [src]="item" alt="" class="image">
            <div class="overlay">
              <div class="text">
                <span *ngIf="!isNews">Actualité</span>
                <span *ngIf="isNews">Nouvelle</span>
              </div>
            </div>
          </div>
        </div>

        <div class="text-gallerie">
          <span *ngIf="galleryOne.length === 1">galerie</span>
          <span *ngIf="galleryOne.length > 1">galeries</span>
        </div>
        <div class="bar-gallerie">
        </div>

        <div class="contain-gallerie-two">
          <!-- <div class="img" *ngFor="let item of galleryTwo">
            <img [src]="item.path" alt="" class="image">
            <div class="overlay">
              <div class="text">{{item.alt}}</div>
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>

                <!--Latest News Area Start-->
                <div class="latest-area section-padding bg-white" id="top-row">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="section-title-wrapper">
                                  <div class="section-title">
                                      <h3>
                                        Récentes
                                        <span *ngIf="!isNews">actualités</span>
                                        <span *ngIf="isNews">nouvelles</span>
                                      </h3>
                                      <p>Les informations partagées</p>
                                      <div class="bottomy">
                                        <p class="bottomy-one"></p>
                                        <div class="bottomy-center">
                                          <fa name="globe"></fa>
                                        </div>
                                        <p class="bottomy-two"></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-12 col-12" *ngFor="let item of four_actu; let i=index">
                          <div class="single-latest-item">
                              <div class="single-latest-image">
                                  <!--<a [href]="item.slug">-->
                                    <img [src]="item.image" alt="" (click)="showActu(item.titre, item.date_mise_jour, item.posteur)">
                                  <!--</a>-->
                              </div>
                              <div class="single-latest-text">
                                  <h3><a>{{item.titre}}</a></h3>
                                  <div class="single-item-comment-view">
                                    <span><i class="fa fa-calendar"></i>{{item.date_creation}}</span>
                                </div>

                                <div [innerHTML]="item.description.substring(0, 100)+'...' | sanitizeHtml"></div>
                                <!-- <div>
                                  {{item.description.substring(0, 100)}}...
                                  </div> -->
                                 <a class="btn button-default" (click)="showActu(item.titre, item.date_mise_jour, item.posteur)">
                                   Afficher
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-12" *ngIf="noNews">
                        <div class="no-actu">
                          Aucune &nbsp;
                          <span *ngIf="isNews">nouvelle</span>
                          <span *ngIf="!isNews">actualité</span>
                          &nbsp;
                          disponible
                        </div>
                      </div>
                      </div>
                  </div>
                  <div class="content-pagination" *ngIf="nbPagination.length > 1">
                    <span *ngFor="let item of nbPagination" (click)="page(item)" [ngClass]="{current : item === currentPagination}">
                      {{item}}
                    </span>
                    <span (click)="page(currentPagination+1)" *ngIf="!noNews && nbPagination.length > 1">
                      <i class="fas fa-arrow-right"></i>
                    </span>
                  </div>
              </div>
              <!--End of Latest News Area-->

<app-footer></app-footer>

