/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

.cdk-overlay-dark-backdrop {
  background: rgb(22 18 78 / 57%);
}

.mat-dialog-container {
  display: block;
  padding: 0px !important;
  border-radius: 5px !important;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  height: auto !important;
  width: 100%;
  margin-top: 20px !important;
  margin-bottom: 5px !important;
  overflow: hidden;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.mat-dialog-container::-webkit-scrollbar {
  width: 1px !important;
  color: white !important;
  background-color: white !important;
}

mat-form-field {
  width: 85%;
}

    /*Animate word director */
    .slideLeft {
      animation-name: slideLeft;
      -webkit-animation-name: slideLeft;
      animation-duration: 1.8s;
      -webkit-animation-duration: 1.8s;
      width: 100%;
      z-index: 200;
    }

    @keyframes slideLeft {
      0% {
        color : rgba(0,0,0,0);
        -webkit-transform: translateY(50%);
      }
      100% {
        color: white;
        -webkit-transform: translateY(0%);
      }
    }

    .fadeUp {
      animation-name: fadeUp;
      -webkit-animation-name: fadeUp;
      animation-duration: 0.7s;
      -webkit-animation-duration: 0.7s;
      visibility: visible;
      background-color: rgba(0,0,0,0);
      display: flex;
      flex-direction: row;
    }

    @keyframes fadeUp {
      0% {
        background-color: rgba(0,0,0,0);
        opacity: 0;
        -webkit-transform: translateY(50%);
      }
      100% {
        background-color: rgba(0,0,0,0);
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }

