<section class="bg-01">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="se-box">
                  <div class="icon">
                    <i class="fas fa-university"></i>
                  </div>
                  <div class="content">
                      <h3>Etablissement</h3>
                      <p>
                        Public d'enseignement supérieur et de recherche
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="se-box">
                <div class="icon">
                  <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="content">
                    <h3>Diplomés</h3>
                    <p>
                      Issu de la pepinière des élites informatiques Malgache
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="se-box">
                <div class="icon">
                  <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="content">
                    <h3>Professeurs</h3>
                    <p>
                      Diplomés et experimentés ayant parcouru le monde
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="se-box">
                <div class="icon">
                  <i class="fas fa-handshake"></i>
                </div>
                <div class="content">
                    <h3>Partenariats</h3>
                    <p>Au niveau national et international</p>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
